<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>

    <h:body>
        <p:outputLabel value="Mantenimiento Prueba Diagnostica" style="font-size: 40px;"/>
        <br /><br />
        <h:form id="menu">
            <p:menubar>
                <p:menuitem value="Inicio" outcome="index"/>
                <p:menuitem value="Clientes" outcome="Clientes"/>
                <p:menuitem value="Productos" outcome="Productos"/>
            </p:menubar>
        </h:form>

        <br/>
        <p:growl id="msg"/>

        <h:form>
            <p:commandButton value="Insertar Producto" oncomplete="PF('add').show()" update=":agregar"/>
        </h:form>

        <p:dialog  widgetVar="add" header="Agregar Producto" resizable="false" showEffect="clip">
            <p:ajax event="close" listener="#{controllerProductos.limpiar()}" />
            <h:form id="agregar">
                <p:panelGrid columns="2">
                    <p:outputLabel value="Nombre del Producto" />
                    <p:inputText value="#{controllerProductos.producto.nombre}"/>

                    <p:outputLabel value="Precio del producto" />
                    <p:inputText value="#{controllerProductos.producto.precio}" type="number"/>                    

                    <p:outputLabel value="Stock" />
                    <p:inputText value="#{controllerProductos.producto.stock}" type="number" />

                    <p:outputLabel value="Categoria"/>                                          


                    <p:selectOneMenu id="id_categoria" value="#{controllerProductos.categoria.id_categoria}" >
                        <f:selectItem itemLabel="Selecionar una categoria" noSelectionOption="true"/>
                        <f:selectItems value="#{controllerCategoria.listaCategorias}" var="cate" itemLabel="#{cate.nombre}"
                                       itemValue="#{cate.id_categoria}"/>
                    </p:selectOneMenu>

                </p:panelGrid>
                <center> <p:commandButton value="Guardar" actionListener="#{controllerProductos.guardar()}" 
                                          rendered="#{controllerProductos.producto.id_producto == 0}"
                                          update=":msg" oncomplete="PF('add').hide()"/>
                    
                    <p:commandButton value="Actualizar" actionListener="#{controllerProductos.editar()}"
                                     rendered="#{controllerProductos.producto.id_producto != 0}"
                                     update=":Datos :msg" oncomplete="PF('add').hide()"/>
                </center>
            </h:form>
        </p:dialog>

        <br/>
        <h:form id="Datos">
            <p:dataTable value="#{controllerProductos.listaProductos}" var="p">
                <p:column headerText="ID Producto">
                    <p:outputLabel value="#{p.id_producto}"/>
                </p:column>

                <p:column headerText="Nombre Producto">
                    <p:outputLabel value="#{p.nombre}"/>
                </p:column>

                <p:column headerText="Existencias">
                    <p:outputLabel value="#{p.stock}"/>
                </p:column>

                <p:column headerText="Precio">
                    <p:outputLabel value="#{p.precio}"/>
                </p:column>

                <p:column headerText="Categoria">
                    <p:outputLabel value="#{p.id_categoria.nombre}"/>
                </p:column>

                <p:column headerText="Acciones">
                    <p:commandButton value="Editar" actionListener="#{controllerProductos.cargarId(p)}" 
                                     update=":agregar" oncomplete="PF('add').show()"/>

                    <p:commandButton value="Eliminar" actionListener="#{controllerProductos.eliminar(p)}"
                                     update=":Datos :msg" />
                </p:column>


            </p:dataTable>
        </h:form>

    </h:body>
</html>

